.header{
    background-color: black;
    color: aqua;
    height: fit-content;
    width: 90%;
    position: fixed;
    top: 0px;
    opacity: 80%;
    margin: 20px;
    border-radius: 25px;
}

.items{
    margin: 8px;
    font-size: 170%;
    width: fit-content;
}

#logo{
    background-size: cover;
    height: 30px;
    width: 30px;
}

#menu{
    background-size: contain;
    background-image: url(../images/menubar.png);
    background-color: black;
    background-repeat: no-repeat;
    height: 66%;
    width: 30px;
    position: absolute;
}

#menubar{
    position: relative;
    left: 60px;
}

#search{
    position: absolute;
    right: 120px;
    top: 0px;
    height: 36px;
}

#title{
    position: absolute;
    text-align: center;
    left: 100PX;
}