.navbar {
  background-color: rgb(2, 44, 18);
  color: chartreuse;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  width: 90vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  opacity: 80%;
  height: fit-content;
  font-size: 20px;
}

.navbar-items{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  display: inline-flex;
}

#menubtn{
  background-image: url(../images/menubar.png);
  background-size: cover;
  width: 27px;
  margin-right: 1vw;
  display: block;
}

#title{
  font-style: italic;
  font-weight: bolder;
}

#links-1{
  margin-right: 2vw;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  display: none;
}

#links-2{
  width: inherit;
  margin-right: 2vw;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  display: block;
  transition: margin-bottom 0.5s ease-in-out;
}

#links-2.toggle{
  margin-bottom: -32px;
}

@media screen and (min-width: 680px) {
  #links-2, #menubtn{
    display: none;
  }

  #links-1{
    display: block;
  }
}