body{
    background-color: rgb(181, 245, 245);
}

*{
    margin: 0px;
    padding: 0px;
}

.content{
    position: fixed;
    top: 25%;
    left: 23%;
    padding: 3%;
    overflow-y: scroll;
    height: 75%;
    max-width: 75%;
}

.title{
    position: fixed;
    left: 25%;
    top: 11%;
    height: 13%;
    overflow-y: scroll;
    width: 75%;
    text-align: start;
}

.mybtn{
    background-color: red;
    border: 3px solid black;
    height: 36px;
    width: fit-content;
    border-radius: 4px;
    font-size: 16;
    color: azure;
    position: relative;
    bottom: 4px;
    padding: 4px;
}

.title_blog{
    position: fixed;
    top: 11%;
    height: 13%;
    overflow-y: scroll;
    width: 75%;
    text-align: center;
}

.content_blog{
    position: fixed;
    top: 216px;
    width: 100%;
    overflow-y: scroll;
    height: 70%;
}

.blog{
    margin: 50px;
    padding: 20px;
    background-color: rgb(20, 223, 37);
    position: relative;
    border: 4px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 250px;
    text-align: center;
}

